.Timer {
    margin: auto;
    padding: 5px;
    display: inline-grid;
    font-family: Calibri, sans-serif;
}

.Timer input[type="time"] {
    font-size: 32px;
    border: 2px dotted #000;
    padding: 5px;
    position: relative;
}

@media (max-width: 500px) {
    .Timer input[type="time"] {
        font-size: 24px;
    }
}